@use "variables" as *;
@use "themes";
@use "mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background: var(--bg);
  color: var(--text-primary);
  transition: $transition;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}
